

<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
              crossorigin="anonymous">
            {% block head %}
            <title>Base</title>
            {% endblock %}
        </head>
        <body>
            <br>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="#">Project name</a>
                        </div>
                        <div class="navbar-header">
                          <a class="navbar-brand" href="/account/register">Register</a>
                        </div>
                    </div>
                </nav>
            </div>
            {% block body %}
                <h1>Base</h1>
            {% endblock %}
        </body>
    </html>
